.app{
  display: flex;
  padding: 30px;
}
.game{
width:560px;
height: 560px;
display: flex;
flex-wrap: wrap;
}

.game img{
  width: 70px;
  height: 70px;
}
.score-board{
  float: right;
  margin-left: 8px;
}
h2{
  background-color: brown;
  color: aqua;
  text-align: center;
  font-size: 40px;
  padding: 5px;
  border-radius: 20%;
}